<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>pow.gd - An Open Source Personal URL Shortener</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/s/css/styles.css">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/-/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/-/faq">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/-/contact">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">pow.gd <small>by <a href="https://appsattic.com" target="_new">AppsAttic</a></small></h3>
      </div>
